/* shared css */

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.bg-primary {
    background-color: rgba(229, 84, 115, 0.10);
}

.bg-secondary {
    background-color: #111010;
}

.color-primary{
    color:#E55473;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color:white;
    padding: 16px 32px;
    border:0;
    
}

/* header section  */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px 0px 150px;
    
}

.header-text {
    max-width: 600px;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800px;
    margin-bottom: 24px;
}

.header-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
}

.header-pic {
    width: 500px;
    height: 600px;
}

/* Welcome Section */

.welcome-container{
    margin: 100px 150px 0px 150px;
    padding: 50px;
    text-align: center;
}

.welcome-header{
    color: #272727;
    font-size: 50px;
    font-weight: 800px;
    margin-bottom: 24px;
}

.discount{
    color: #272727;
    font-size: 40px;
    font-weight: 800px;
    margin-bottom: 24px;
}

/* Featured Section Styles */

.featured-container{
    margin-top: 100px;
    /* height: 100px; */
    /* font-size: 40px;
    font-weight: 700; */
}

.featured-container h3{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #272727;
    margin-bottom: 24px;
}
.featured-container p{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}
.featured-images{
    display: flex;
    justify-content: center;
}
.box {
    width: 330px;
    height: 400px;
    border-radius: 300px 300px 0 0;
    background-size: cover;
    background-repeat: no-repeat; 
    background-size: 250px 320px;
    background-position: bottom;   
    margin-right: 24px;
}

.box1 {
    background-image: url('../Flower Asset/pngwing 6.png');
    background-color: rgba(167, 33, 98, 0.15);
}
.box2 {
    background-image: url('../Flower Asset/pngwing 5.png');
    background-color: rgba(5, 151, 160, 0.15);
}
.box3 {
    background-image: url('../Flower Asset/pngwing 7.png');
    background-color: rgba(71, 125, 17, 0.15);
}
/* .flower p {
    padding-top: 32px;
    text-decoration: underline;
    
} */
.name{
    display: flex;
    /* gap:20px; */
    justify-content: space-around;
    padding-top: 32px;
    padding-left: 150px;

    padding-right: 180px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Hot deal Section */

.hotdeal-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap:150px;
    padding: 70px 300px 70px 250px;
    
}

.hotdeal-text {
    max-width: 600px;
    text-align: center;
}

.section-title {
    color: #272727;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
}

.hotdeal-pic {
    width: 250px;
    height: 350px;
}


/* Instragram */

.ins-container{
    margin-top:100px;
    padding: 0px 150px ;
}

.ins-title{
    text-align: center;
    color: #272727;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.ins-info{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
    padding:0px 350px;
    text-align: center;
}

/* .ins-item{
    width:100px;
    height:120px;
    flex-shrink: 0;
} */

.ins-gallery{
    display: flex;
    gap:10px;
    justify-content: space-between;
}

.ins-item{
    height: 340px;
    width: 390px;
    margin-bottom:100px
}

.item1{
    background: url("../Flower Asset/Flower 01.png"), lightgray 50% / cover no-repeat;  
    background-size:cover;
}
.item2{
    background: url("../Flower Asset/Rectangle 4.png"),lightgray 50% / cover no-repeat;
    background-size: cover;
}
.item3{
    background: url("../Flower Asset/Rectangle 5.png"),lightgray 50% / cover no-repeat;
    background-size: cover;
}
.item4{
    background: url("../Flower Asset/Rectangle 6.png"),lightgray 50% / cover no-repeat;
    background-size: cover;
}



/* subscription styles */

.subscription-container{
    margin: 0 150px 0 150px ;
    background: url("../Flower Asset/Rectangle 9.png");
    background-size: cover;
    /* background-repeat */
    /* background-size: auto; */
}

.subscribe{
    padding: 100px 250px;
}

.subs-title{
    text-align: center;
    color: #272727;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.subs-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
    text-align: center;
}

.subs-form{
    text-align: center;
    display: flex;
    gap:20px;
    align-items: center;
}

.subs-form input[type="email"]{
    width:65%;
    padding: 16px;
}

.subs-form input[type="submit"]{
    width:30%;
}

/* Footer Styles */

.footer-section{
    background: #111010;
    text-align: center;
    margin-top: 100px;
}
.footer-container{
    padding: 80px 400px;
}

.footer-heading{
    color: #ffff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer-desc{
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}
.footer-rights{
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-weight: 400;
}
